.home-info {
    background-color: #2b132d;
    padding: 20px 10px;
}
.home-info_inner {
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.home-info_list {
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    position: relative;
}
.home-info_list > li:first-child:before {
    display: none;
}
.home-info_list > li:before {
    content: "";
    display: inline-flex;
    margin: 0 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}